*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif
}


header, nav, article, footer{
    padding: 20px;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    
    }

    body{
        background-color: rgb(223, 223, 223);
        padding: 10px;
    }

    main{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows:100px 500px 100px ;
        grid-gap: 10px;
        

    }
    
    
    header{
        background-color:rgb(56, 162, 255);
        grid-column-start:1;
        grid-column-end:3;

        
    }
    
    nav{
        background-color:rgb(109, 249, 109);
        grid-column-start:3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 4;
        
    }
    
    article{
        background-color: violet;
        grid-column-start:1;
        grid-column-end: 3;
        
    }
    
    footer{
        background-color: rgb(236, 255, 180);
        grid-column-start:1 ;
        grid-column-end: 3;
        
        
    }